/* Reset Button Styling */
#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Grid Tile Styling */
.row {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}


/* Container Styling */
#main-container {
    align-content: center;
    justify-content: center;
    border: 2px solid red;
    height: 432px;
    width: 432px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    margin-top: 1em;
}


